@*@{
    ViewData["NgApp"] = "app-contest";
}

<div class="row" ng-app="app-contest">
    <div ng-view></div>
    <div>{{2+2}}</div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Angular/Contest/app-contest.js"></script>
    <script type="text/javascript" src="~/Angular/Contest/contest.js"></script>
}*@
