@{
    ViewData["Title"] = "Home Page";
    ViewData["NgApp"] = "app-index";
}

<div class="row">
    <div ng-view></div>

</div>
@section Scripts {
    @{
        <script type="text/javascript" src="~/Angular/Front/app-index.js"></script>
        <script type="text/javascript" src="~/Angular/Front/Controllers/indexController.js"></script>
        <script type="text/javascript" src="~/Angular/Front/Directives/topUsers_directive.js"></script>
    }
}