@model CodeChecker.Models.EmailMessageModels.CreateDeleteMessageViewModel
@{
    Layout = "~/Views/Shared/_Email.cshtml";
}

<h2 style="text-align: center;">Hello @Model.CreatorName!</h2>

<div style="text-align: center">
    <p>
        We are sorry to announce, but your contest @Model.ItemName was not approved.</br>
        Reason why your contest was not approved: </br>
        <strong>@Model.Reason</strong>
    </p>
    <p>You may try to submit contest again</p>
    <div>
        <a target="_blank" href="http://@Context.Request.Host/Admin#!/contests/contest/@Model.ItemId" class="button">Click here to open contest</a>
    </div>
</div>