<section id="sidebar" ng-show="show" ng-controller="sidebarController as sc">
    <div class="sidebox"  ng-show="!show">
        <div>
            <div class="text-center">
                <i class="fa fa-circle-o-notch fa-spin"></i>Loading...
            </div>
        </div>
    </div>
    <div class="sidebox" ng-show="show">
        <div class="title">Top rated</div>
        
        <div class="content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in sc.topUsers">
                        <td>{{$index + 1}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.rating}}</td>
                    </tr>
                    <tr>
                        <td>All...</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.rating}}</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
    <div class="sidebox">
        <div class="title">Top rated</div>
        <div class="content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in sc.topUsers">
                        <td>{{$index + 1}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.rating}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</section>
