<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Are you sure you want to submit this item?</h3>
</div>
<div class="modal-body" id="modal-body">
    <div>
        <h5 class="modal-body" id="modal-body">If you submit this item you will not be able to edit anymore.</h5>
    </div>
</div>
<form name="contestPassword" class="css-form" novalidate>
    <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Submit" data-ng-click="submit()">
        <button class="btn btn-danger" type="button" data-ng-click="close()">Cancel</button>
    </div>
</form>