@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<?xml version="1.0" ?>
<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SITY - Control panel</title>
    <link rel="stylesheet" href="~/static/css/plugins.admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/styles.back.css" asp-append-version="true" />

</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

    <!-- User Interface -->
    <ui-view></ui-view>


    <script src="~/static/js/plugins.admin.js" asp-append-version="true"></script>
    <!-- AngularJS CoreUI App scripts -->

    <script asp-append-version="true" src="~/Angular/Admin/app.js"></script>
    <script asp-append-version="true" src="~/Angular/Front/Directives/colouriseDirective.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/main.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/profileEditController.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/contest/contestViewController.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/contest/singleContestViewController.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/contest/task/AssignmentViewController.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/user/userViewController.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/user/singleUserViewController.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/article/articleController.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/contact/contactController.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/contact/singleContactViewController.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/controllers/article/singleArticleViewController.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/routes.js"></script>

    <script asp-append-version="true" src="~/Angular/Admin/demo/routes.js"></script>

    <script asp-append-version="true" src="~/Angular/Admin/controllers.js"></script>
    <script asp-append-version="true" src="~/Angular/Admin/directives.js"></script>

</body>

</html>
