<section id="sidebar">
    <div class="sidebox">
        <top-users></top-users>
    </div>
</section>
@section Scripts {
    @{
        <script type="text/javascript" src="~/Angular/Front/app-index.js"></script>
        <script type="text/javascript" src="~/Angular/Front/Controllers/indexController.js"></script>
        <script type="text/javascript" src="~/Angular/Front/Directives/topUsers_directive.js"></script>
    }
}