<div class="animated fadeIn" >
    <form>
        <div class="row">
            <div class="col-md-12">
                <form name="myForm">
                    <fieldset>
                        <legend>Upload on form submit</legend>
                        Email: <input name="email" ng-model="email" size="39" required="" type="text">
                        Username: <input name="username" ng-model="username" size="39" required="" type="text">
                        Profile Picture: <input ngf-select="" ng-model="picFile" name="file" ngf-accept="'image/*'" required="" type="file">
                        <br>
                        <button ng-click="uploadFile(picFile)">Submit</button>
                        <img ngf-src="picFile" class="thumb">
                        <span ng-show="picFile.result">Upload Successful</span>
                    </fieldset>
                    <br>
                </form>
            </div>
        </div>
    </form>
</div>
