<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <div class="col-md-10 col-md-pull-2 pull-left"><strong>Questions</strong></div>
                    <div class="col-md-2 pull-left"><button ng-click="fc.createFaq()" class="col-md-12 btn btn-sm btn-primary">Create question</button></div>
                </div>
                <div class="card-block">
                    <table ng-table="fc.tableParams" class="table table-bordered table-striped table-condensed">
                        <tr ng-repeat="row in $data track by row.id" class="contest-{{row.id}}">
                            <td data-title="'Id'" filter="{Id: 'number'}" sortable="'Id'">{{row.id}}</td>
                            <td data-title="'Question'" filter="{Question: 'text'}" sortable="'Question'"><button class="btn-link" ng-click="fc.goToFAQ(row.id)">{{row.question}}</button></td>
                            <td data-title="'Creator'" filter="{'Creator.UserName': 'text'}" sortable="'Creator.UserName'"><span colourise="{{row.creator.rating}}">{{row.creator.userName}}</span></td>
                            <td data-title="'Deleted'">
                                <div><button ng-click="fc.delete(row.id)" type="button" class="btn btn-outline-danger col-md-12">Delete</button></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>