@model CodeChecker.Models.EmailMessageModels.CreateDeleteMessageViewModel
@{
    Layout = "~/Views/Shared/_Email.cshtml";
}

<h2 style="text-align: center;">Hello @Model.CreatorName!</h2>

<div style="text-align: center">
    <p>
        We announce that your article @Model.ItemName was approved.</br></br>

        <strong>@Model.Reason</strong>
    </p></br>
    <div>
        <a target="_blank" href="http://@Context.Request.Host/Admin#!/articles/@Model.ItemId" class="button">Click here to open article</a>
    </div>
</div>