@{
    ViewData["Title"] = "Contact Us";
    ViewData["NgApp"] = "app-contact";
}

<div class="row">
    <div class="col-md-12" ng-view></div>
</div>

@section Scripts {

    <script type="text/javascript" asp-append-version="true" src="~/Angular/Front/Directives/disableOnClick_directive.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/Angular/Front/Directives/verdictDirective.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/Angular/Front/Modules/disableOnClickModule.js"></script>

    <script type="text/javascript" asp-append-version="true" src="~/Angular/Front/app-contact.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/Angular/Front/Controllers/contact/contactController.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/Angular/Front/Controllers/contact/contactController.js"></script>
}
