<div class="content assignment">
    <h3 class="text-center">{{assignment.name}}</h3>
    <div class="info text-center">
        <div>Memory limit: {{assignment.memoryLimit}} MB</div>
        <div>Time limit: {{assignment.timeLimit}} ms</div>
        <div>Input type: {{assignment.inputType}}</div>
        <div>Output type: {{assignment.outputType}}</div>
    </div>
    <div class="clearfix" ng-show="assignment.contestId">
        <div class="pull-left">
            <a class="btn btn-info enter" ng-href="Contest#!/submissions/{{assignment.contestId}}">View submissions</a>
        </div>
        <div class="pull-right">
            <a class="btn btn-info enter" ng-href="Contest#!/standings/{{assignment.contestId}}">View standings</a>
        </div>
    </div>
    <hr>
    <div class="description" ng-bind-html="assignment.description"></div>
    <hr>
    <h3>Submit code</h3>
    <div class="form-group row">
        <label class="col-md-3 form-control-label">Programming language</label>
        <div class="col-md-9">
        <select ng-model="task.language" name="select" class="form-control form-control-sm">
            <option ng-selected="true" value="PYT27">Python 2.7</option>
            <option value="PYT3">Python 3</option>
            <option value="CPP5.4.0">C++</option>
            <option value="CSH">C# MONO</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 form-control-label">Solution code</label>
        <div class="col-md-9">
            <div data-ng-model="task.code" ui-ace></div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 text-right">
            <button data-ng-click="sendCode()" ng-disabled="sendDisabled" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        </div>
    </div>

    <hr>
</div>