<div class="content">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>Starts at</th>
            <th>Time left</th>
            <th>Length</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contest in contests" id="contest-{{contest.id}}">
            <td>{{contest.name}}</td>
            <td>
       
                {{contest.creator.userName}}
              
            </td>
            <td>{{contest.startAt|date:"yyyy-MM-dd HH:mm:ss"}}</td>
            <td><timer end-time="contest.startAt">{{days}} d, {{hours}}:{{minutes}}:{{seconds}}</timer></td>
            <td>{{contest.endAt | amDifference : contest.startAt | amDateFormat : 'hh:mm'}}</td>
            <td>
                <button ng-show="{{!contest.joined}}" class="btn btn-success join" ng-disabled="contest.joined" ng-click="joinContest(contest.id)">Join contest</button>
                <a class="btn btn-info enter" ng-show="{{contest.joined}}" ng-href="Contest#!/{{contest.id}}">View contest</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>