<div class="row" ng-show="scc.showContent">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="col-md-3 pull-left"><button ui-sref-active="active" ui-sref="app.contests.all" class="col-md-12 btn btn-sm btn-outline-secondary">Back</button></div>
                <div class="col-md-7 col-md-pull-2 pull-left"><strong>Contest {{scc.contest.name}}</strong></div>
                <div class="col-md-2 pull-left"><button ng-click="scc.createAssignment()" class="col-md-12 btn btn-sm btn-primary">Add Task</button></div>
            </div>
            <div class="card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-2orizontal ">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Contest Name</label>
                        <div class="col-md-9">
                            <p class="form-control-static">{{scc.contest.name}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Contest Name</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control" value="{{scc.contest.name}}" placeholder="{{scc.contest.name}}" ng-model="scc.contest.name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Creator</label>
                        <div class="col-md-9">
                            <p class="form-control-static">{{scc.contest.creator.userName}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Short Description</label>
                        <div class="col-md-9">
                            <textarea froala="froalaOptions" ng-model="scc.contest.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Created At</label>
                        <div class="col-md-9">
                            <p class="form-control-static">{{scc.contest.createdAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Last Update</label>
                        <div class="col-md-9">
                            <p class="form-control-static">{{scc.contest.updatedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Start At</label>
                        <div class="col-md-9">

                            <div class="input-group" moment-picker="scc.contest.startAt" locale="en-gb" format="YYYY-MM-DD HH:mm">
                                <span class="input-group-addon">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </span>
                                <input class="form-control"
                                       placeholder="Select a date"
                                       ng-model="scc.contest.startAt"
                                       ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">End At</label>
                        <div class="col-md-9">
                            <div class="input-group" moment-picker="scc.contest.endAt" locale="en-gb" format="YYYY-MM-DD HH:mm">
                                <span class="input-group-addon">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </span>
                                <input class="form-control"
                                       placeholder="Select a date"
                                       ng-model="scc.contest.endAt"
                                       ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            <!--<input type="datetime" id="text-input" name="text-input" class="form-control" value="{{scc.contest.endAt}}" placeholder="{{scc.contest.endAt}}" ng-model="scc.contest.endAt">-->
                        </div>
                    </div>
                    <div ng-show="scc.show" class="form-group row">
                        <label class="col-md-3 form-control-label" for="select">Status</label>
                        <div class="col-md-9">
                            <select id="select" name="select" class="form-control" ng-model="scc.contest.status">
                                <option ng-selected="scc.contest.status == 0" ng-value="0" >Created</option>
                                <option ng-selected="scc.contest.status == 1" ng-value="1" >Submited</option>
                                <option ng-selected="scc.contest.status == 2" ng-value="2">Approved</option>
                                <option ng-selected="scc.contest.status == 3" ng-value="" >Cancelled</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Password</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control" value="{{scc.contest.password}}" placeholder="{{scc.contest.password}}" ng-model="scc.contest.password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Successful Submit</label>
                        <div class="col-md-9">
                            <label class="col-md-3 form-control-label" for="text-input">{{scc.contest.successfulSubmit}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Unsuccessful Submit</label>
                        <div class="col-md-9">
                            <label class="col-md-3 form-control-label" for="text-input">{{scc.contest.unsuccessfulSubmit}}</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button ng-click="scc.saveContest()" class="btn btn-sm btn-primary" ui-sref-active="active" ui-sref="app.contests.one(scc.contest.id)"><i class="fa fa-dot-circle-o"></i> Save Changes</button>
                <button ng-click="scc.reset()" class="btn btn-sm btn-warning" ui-sref-active="active" ui-sref="app.contests.one(scc.contest.id)"><i class="fa fa-ban"></i> Reset</button>
                <button ng-click="scc.deleteContest(scc.contest.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i>Delete</button>
                <button ng-if="scc.contest.status == 0 || scc.contest.status == 3" ng-click="scc.publish()" class="btn btn-sm btn-success"><i class="fa fa-trash-o"></i>Submit</button>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card" ng-repeat="assignment in scc.contest.assignments">
            <div class="card-header">
                <strong>Task {{$index+1}}</strong>
            </div>
            <div class="card-block">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Task Name</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{assignment.name}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Times Solved</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{assignment.solvedCount}}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-primary" ui-sref-active="active" ui-sref="app.contests.assignment({id:{{assignment.id}}})"><i class="fa fa-dot-circle-o"></i> View Details</button>
                <button ng-click="scc.deleteAssignment($index)" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i>Delete</button>
            </div>
        </div>

        </div>


</div>
